---
import { Image } from "astro:assets";

const { title, description, image, maker, pcbViewerUrl, schematicsUrl } = Astro.props;

---

<div
  class="group bg-zinc-100 rounded-3xl overflow-hidden shadow-lg hover:shadow-xl hover:scale-[1.02] transition-all cursor-pointer flex flex-col"
  data-title={title}
  data-description={description}
  data-maker={maker}
  data-image={image ?? ""}
  onclick="openPopup(this.dataset.title, this.dataset.description, this.dataset.maker, this.dataset.image ? [this.dataset.image] : [], null, this.dataset.schematicsurl, this.dataset.pcbviewerurl, null)"
  data-pcbviewerurl={pcbViewerUrl}
  data-schematicsurl={schematicsUrl}
>
  <!-- Image -->
  <div class="overflow-hidden border-b-2 border-zinc-200">
    {image
      ? <Image src={image} alt={title} width={400} height={255} class="w-full h-48 object-contain group-hover:scale-105 transition-transform duration-500" />
      : <div class="w-full h-48 flex items-center justify-center text-zinc-400 text-sm">no image</div>
    }
  </div>

  <!-- Info -->
  <div class="p-6 flex flex-col gap-3 flex-1">
    <div class="flex-1 flex flex-col">
      <h2 class="text-xl font-bold mb-2">{title}</h2>
      <p class="text-gray-400 text-sm">{description}</p>
      <p class="text-zinc-500 text-sm mt-2 mt-auto">{maker}</p>
    </div>
  </div>
</div>